.alert_list {
  width: 100%;
  min-width: 150px;
  height: 80vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 18px;
  background-color: #75c2f9;
  color: whitesmoke;
}

@media (min-width: 800px) {
  .alert_list {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .alert_list {
    display: none;
  }
}
